.block.block__animate.grid-container
	.grid-x.grid-margin-x
		.cell.small-8.medium-4
			.gauge
				.meter
					+svg("meter")

				.arrow
					+svg("arrow")

		.cell.small-8.medium-3
			.title
				| Мой уровень владения
				| Java Script

			.spincrement 954
