.block.block__skills.grid-container
	.grid-x.grid-margin-x
		.cell.small-12
			p.title
				| Навыки

		.cell.small-4.medium-2
			+checkbox({
				name: 'HTML5',
				checked: true
			})

		.cell.small-4.medium-2
			+checkbox({
				name: 'SASS',
				checked: false
			})

		.cell.small-4.medium-2
			+checkbox({
				name: 'VanillaJS',
				checked: false
			})

		.cell.small-4.medium-2
			+checkbox({
				name: 'Git',
				checked: true
			})

		.cell.small-4.medium-2
			+checkbox({
				name: 'CSS3',
				checked: true
			})

		.cell.small-4.medium-2
			+checkbox({
				name: 'LESS',
				checked: true
			})

		.cell.small-4.medium-2
			+checkbox({
				name: 'Angular',
				checked: false
			})

		.cell.small-4.medium-2
			+checkbox({
				name: 'Foundation',
				checked: false
			})

		.cell.small-4.medium-2
			+checkbox({
				name: 'БЭМ',
				checked: true
			})

		.cell.small-4.medium-2
			+checkbox({
				name: 'Gulp',
				checked: true
			})

		.cell.small-4.medium-2
			+checkbox({
				name: 'jQuery',
				checked: true
			})

		.cell.small-4.medium-2
			+checkbox({
				name: 'Bootstrap',
				checked: true
			})
