extends pug/base

prepend vars
	- title = 'Анкета - Дмитрий Киселев'
	- description = 'Тестовое задание для HTML-верстальщиков «Девять линий»'

append vars
	- link.icon = '/images/favicon.ico'

block content
	.container
		include pug/contacts
		include pug/skills
		include pug/animate
